.DS_Store
.ds_store
/.settings
/.project
/.classpath
*.iml
/.idea
/out
*.sass-cache
/target
/build.properties
/data
/.ant-targets-build.xml
/uportal-impl
/uportal-portlets-overlay/ssp/target/
/uportal-portlets-overlay/ssp/overlays/
/uportal-java-api/target/
/filters/local.properties